@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url(./image/background.jpg);
}

.msg {
    background-color: #DAF7C1;
    width: 320px;
    margin: 8px;
    padding: 8px 18px;
    border-radius: 14px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 300ms;
}

.msg:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.6);
}

img {
    width: 24px;
    height: 24px;
}

p {
    -webkit-user-select: all;
    user-select: all;
    text-align: start;
    margin: 0 2px;
    max-width: 270px;
    cursor: text;
}